*{margin:0px;padding:0px;list-style:none;}
body{font:12px/normal "microsoft yahei";}
.cl:after{content:"";visibility:hidden;display:block;font-size:0;content:&quot;&quot;clear:both;height:0;}
* html .cl{zoom:1;}
a{color: #666;text-decoration: none;}
a:hover{color: #FF4400;}
/* IE7 */

/**语法高亮更改**/
.syntaxhighlighter{background:#fbfbfb!important;border:1px solid #efefef!important;width: 95%!important;}
.syntaxhighlighter code{font:12px/normal Consolas,"Liberation Mono",Courier,"microsoft yahei"!important;white-space:pre-wrap;}
.syntaxhighlighter .gutter{padding:0px!important;}
.syntaxhighlighter td.code .line,.syntaxhighlighter td.gutter .line{color:#2BA5D8;line-height:15px!important;height:15px!important;padding:0px 20px 0px 10px!important;}
.container p{font-size:16px;}
.syntaxhighlighter td.code .line,.syntaxhighlighter td.gutter .line{padding:0px 5px!important;}

/*正文*/
h1{font-size:25px;color:#0382AD;text-shadow:1px 1px 0 #FFFFFF,1px 1px 2px rgba(0,0,0,0.3);}
ul{padding-left:30px;}
li{list-style:circle;}

.left-nav{width:190px;overflow-y:scroll;position:fixed;left:0px;top:0px;height:100%;background: #F1F1F1;}
.left-nav dl dt{cursor: pointer; height:30px;line-height:30px;font-size:16px;padding-left:5px;}
.left-nav dl dt i{margin-right: 5px;}
.left-nav dl dd a{display:block;height:20px;font-size:14px;line-height:20px;text-decoration:none;padding-left:26px;}
.right-code{margin-left:200px;}
.param-block h2{font-size:20px;border-bottom:1px solid #EEE;height:40px;line-height:40px;color:#7d6b6b;}
.param-block .shuoming{ margin: 20px 0px;}
.code-block{margin-bottom: 10px;}
.code-block .code-type,.code-block .code-param,.code-block .code-title{height:30px;line-height:30px;}
.code-block .code-title a{color:#00B2E2;padding:5px 0;font-size:18px;text-decoration:none;}
.code-block .code-title a:hover{color: #FF4400;}
.code-block .code-title .code-note{color:#bdbdbd;font-size:12px;margin-left:10px;}
.code-block .code-type{}
.code-block .code-param{}
.code-block .code-descr{line-height:20px;}